# Downloaded datasets
data/mnist/raw/

# HLS / Vivado generated outputs
HW/stdp_snn/snn_top_prj_stdp/
HW/stdp_snn/vivado/snn_pynq_stdp/

# Build noise
__pycache__/
*.pyc
*.log
*.jou
.Xil/

_ide/
*.err
*.out

# Editor / local tooling
.vscode/
.codex
